{% extends 'base.html' %}

{% block title %}
    <title>User Detail</title>
{% endblock%}

{% block content %}
    <div class="container-fluid">
        <div class="col-md-6 col-lg-4 ">
            Username: {{user.username}} <br>
            Email: {{user.email}} <br>
            First Name: {{user.first_name}} <br>
            Last Name: {{user.last_name}}
            <br>
            <br>
            {% for feedback in user.feedback %}
            <a href="/feedback/{{feedback.id}}/update">{{feedback.title}}</a>
            <button formaction="/feedback/{{feedback.id}}/delete" formmethod="post" class="btn btn-danger btn-sm">X</button>
            {% endfor %}
            <br>
            <br>
            <form action="/users/{{user.username}}">
                <a href="/user/{{user.username}}/feedback/add" class="btn btn-primary btn-sm">Add Feedback</a>
                <button formaction="/users/{{user.username}}/delete" formmethod="post" class="btn btn-danger btn-sm">Delete User</button>
            </form>
         </div>
    </div>

{% endblock %}